# Abaikan file cache Python
__pycache__/
*.pyc

# Abaikan file sistem operasi
.DS_Store
Thumbs.db

# Abaikan folder environment virtual (jika ada)
venv/
env/

# Abaikan dataset berukuran besar
data/tweets.csv