# Abaikan file cache Python
__pycache__/
*.pyc

# Abaikan file sistem operasi
.DS_Store
Thumbs.db

# Abaikan folder environment virtual (jika ada)
venv/
env/

# Abaikan dataset raksasa
data/tweets.csv

# PENTING: Jika data CSV bapak SANGAT BESAR (>100MB), 
# Github akan menolak. Jika <100MB, biarkan saja (jangan tulis di sini).